<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="logo" nz-row>
            <div nz-col [nzSpan]="12">
                <img style="height: 32px;"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMzsnwyvJ1Z6NK-CXej3EUX80UsiOEwayMnqZs3hDqeJzQOe8Yh2M6AZ1WNmA9Wlm9eww&usqp=CAU"
                    alt="">
            </div>
            <div nz-col [nzSpan]="12">
                <p style="color: white; font-weight: bold; font-size: 10px;margin-top: 6px;">
                    Farm Production
                </p>
            </div>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline">
            <li nz-submenu nzTitle="ADMIN" nzIcon="user">
                <ul>
                    <li nz-menu-item>
                        <a (click)="isShownInfo = true">Thông tin cá nhân</a>
                    </li>
                    <li nz-menu-item>
                        <a (click)="isChangePass = true">Đổi mật khẩu</a>
                    </li>
                </ul>
            </li>
            <hr>
            <li nz-submenu nzTitle="Master Data" nzIcon="file">
                <ul>
                    <li nz-menu-item>
                        <a routerLink="category/catalog">Danh mục</a>
                    </li>
                    <li nz-menu-item>
                        <a routerLink="category/brand">Thương hiệu</a>
                    </li>
                    <li nz-menu-item>
                        <a routerLink="category/producer">Nhà sản xuất</a>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Sản phẩm" nzIcon="appstore">
                <ul>
                    <li nz-menu-item>
                        <a routerLink="product">Sản phẩm</a>
                    </li>
                    <li nz-menu-item>
                        <a routerLink="product/statistic">Thống kê</a>
                    </li>
                </ul>
            </li>
            <li nz-menu-item>
                <span nz-icon nzType="book"></span>
                <span> <a routerLink="feature/order">Hóa đơn</a></span>
            </li>
            <li nz-menu-item>
                <span nz-icon nzType="home"></span>
                <span> <a routerLink="feature/shopping">Bán hàng tại quầy</a></span>
            </li>
            <li nz-menu-item>
                <span nz-icon nzType="user"></span>
                <span> <a routerLink="feature/role">Quyền</a></span>
            </li>
            <li nz-menu-item>
                <span nz-icon nzType="team"></span>
                <span> <a routerLink="feature/user-account">Người dùng</a></span>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
                (click)="isCollapsed = !isCollapsed"></span>
        </nz-header>
        <nz-content>
            <router-outlet></router-outlet>
        </nz-content>
        <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
    </nz-layout>
</nz-layout>