<!-- Contact Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="mx-auto text-center mb-5" style="max-width: 500px;">
            <h6 class="text-primary text-uppercase">Đăng nhập</h6>
            <h1 class="display-5">Đăng nhập để trải nghiệm cửa hàng của chúng tôi</h1>
        </div>
        <div class="row g-0">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="bg-primary h-100 p-5">
                    <form>
                        <div class="row g-3">
                            <div class="col-12">
                                <input type="text" class="form-control bg-light border-0 px-4"
                                    placeholder="Tên đăng nhập" [(ngModel)]="_userName" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <input type="password" class="form-control bg-light border-0 px-4"
                                    placeholder="Mật khẩu" [(ngModel)]="_password" style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <button class="btn btn-secondary w-100 py-3" type="submit" (click)="login()">Đăng
                                    nhập</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</div>
<!-- Contact End -->